<!DOCTYPE html>
<html>
  <head>
      <title>Investing for Everyone | EquityTrade</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= favicon_link_tag asset_path('robinhood_logo-1.png') %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  

      <meta property="og:title" content="EquityTrade" />
      <meta property='og:image' content="<%= image_url('equitytrade.png') %>"/>
      <meta property="og:description"
        content="EquityTrade is a full stack web app that allows users to simulate trades and manage their portfolio."
      />
      <meta property="og:url"
        content="https://equitytrade.herokuapp.com"
      />
    
    
    <script type="text/javascript">
    window.errorlogoURL = "<%= image_url('error-icon-exclamation.png') %>"
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

