<!DOCTYPE html>
<html>
  <head>
    <title>Investing for Everyone | EquityTrade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('robinhood_logo.png') %>
    

     
    <script type="text/javascript">
    window.errorlogoURL = "<%= image_url('error-icon-exclamation.png') %>"
    
    
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>

